.mainContainer {
    border: 1px solid #000;
    display: grid;
    grid-template-areas:
      'sidebar main main main main';
    grid-gap: 10px;
    background-color: #2196F3;
    padding: 10px;
}

.mainContainer > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 10px;
    font-size: 30px;
}

.sidebar {
    grid-area: sidebar;
}

.main {
    grid-area: main;
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 10px;
    font-size: 30px;
}